<div class="col-lg-3">
    <ul class="list-group mb-3 mb-lg-0">
        <a class="text-decoration-none list-group-item list-group-item-light active"
            href="{% url 'pages:client_setup' %}">
            Minha Conta
        </a>
        <a class="text-decoration-none list-group-item list-group-item-light"
            href="{% url 'pages:client_orders' %}">
            Histórico de pedidos
        </a>
        <a class="text-decoration-none list-group-item list-group-item-light"
            href="{% url 'pages:edit_client' %}">
            Editar Dados
        </a>
    </ul>
</div>