<div class="col-lg-3">
    <ul class="list-group mb-3 mb-lg-0">
        <a class="text-decoration-none list-group-item list-group-item-light active"
            href="{% url 'pages:restaurant_setup' %}">
            Minha Conta
        </a>
        <a class="text-decoration-none list-group-item list-group-item-light"
            href="{% url 'pages:restaurant_orders' %}">
            Histórico de pedidos
        </a>
        <a class="text-decoration-none list-group-item list-group-item-light"
            href="{% url 'pages:add_product' %}">
            Adicionar produto
        </a>
        <a class="text-decoration-none list-group-item list-group-item-light"
            href="{% url 'pages:list_product' %}">
            Lista de produtos
        </a>
        <a class="text-decoration-none list-group-item list-group-item-light"
            href="{% url 'pages:edit_restaurant' %}">
            Editar dados
        </a>
    </ul>
</div>